/WikiOscars/nbproject/private/
/WikiOscars/build/
/wiki/nbproject/private/
/wiki/build/
/WikiCaraTriste/nbproject/private/
/WikiCaraTriste/build/
/Test/nbproject/private/
/Test/build/
/WikiCaraTriste/dist/
/WikiOscars/dist/