/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/08/2020, 12:22:44 PM
    Author     : USERS
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

body{
    background-image: url(../Imagenes/PrincipalImage.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;   
}

.vacio {
    width: 100%;
    height: 550px;
}
.contenedor{
    width: 100%;
    height: 4500px;
    background-color: black;
}

.contenido {
    color:white;
    font-weight: lighter;
}

#logo{
    width: 300px;
    height: 91px;
    background-image: url(../Imagenes/Logo.png);
    float: right;
    margin: 35px;
}

h2{
    color:white;
    padding-top: 10px;
    padding-left: 20%;
}

h3{
    color:white;
    padding-top: 10px;
    padding-left: 30px;
}

h4{
    color:white;
    padding-top: 10px;
    padding-left: 30px;
}

article{
    background-color: #282828;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
}

article *{
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#imagen1{
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/OnceUponATimeInHollywood.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#imagen2{
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/JojoRabbit.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#imagen3{
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/MarriageStory.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#imagen4{
    width: 300px;
    height: 500px;
    background-image: url(../Imagenes/TheIrishman.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}

#imagen5{
    width: 300px;
    height: 420px;
    background-image: url(../Imagenes/Parasite.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

table{
    margin-left: 40%;
    margin-right: 20%;
    background-color: #B89956; 
}

td{
    color:white;
    padding: 10px;
    border-left-color: #B89951;
    border-right-color: #B89951;
}

label{
    margin-right: 15px;
}

.centrar *{
    margin-left: 30px;
    padding: 5px;
    font-weight: bolder;
}